.burger {
    display: none;
    @media(max-width: 1000px) {
        display: block;
        &__icon {
            cursor: pointer;
            z-index: 500;
            position: relative;
            width: 30px;
            height: 20px;
            &::after, &::before, & span {
                background: #000;
                height: 10%;
                width: 100%;
                transition: all .3s ease 0s;
                left: 0;
                position: absolute;
            }
            &::after, &::before {
                content: "";

            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }
            &_active {
                &::after, &::before, & span {
                    background: #ffff;
                    
                }
                span {
                    transform: scale(0) translate(0px, -50%);
                }
                &::before {
                    top: 50%;
                    transform: rotate(-45deg) translate(0px, -50%);
                }
                &::after {
                    bottom: 50%;
                    transform: rotate(45deg) translate(0px, 50%);
                }
            }
        }
        &__body {
            position: fixed;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
            // transform: translate(-100%, 0px);
            background: rgba(0, 0, 0, 0.9);
            padding: 100px 30px 30px 30px;
            transition: left .3s ease 0s;
            li {
                margin-bottom: 30px;
                max-width: 200px;
                font-size: 24px;
                font-weight: $semibold;
                a {
                    color: #ffff;
                }
            }
            &_active {
                left: 0 ;
            }
        }
        
    }
}